<h3>Phones</h3>
<p>
  (044)537-02-22,<br>
  (044)503-80-80,<br>               0(800)503-808             
</p>

<h3>Schedule Call-center</h3>
  <p>
    Mon-Fri: с 8:00 до 21:00<br>
    Saturday: с 9:00 до 20:00<br>
    Sunday: с 10:00 до 19:00<br>
  </p>

<h3>Schedule of the exhibition hall</h3>
<p>
  Mon-Fri: с 10:00 до 21:00<br>
  Saturday: с 10:00 до 19:00<br>
  Sunday: с 10:00 до 17:00<br>
  <b>9 may (friday): <span style="color:red">holiday<br></span></b>  
</p>

<h3>Schedule a service department<br></h3>
<p>
  Mon-Fri: с 10:00 до 19:00<br>
  Saturday: с 10:00 до 17:00<br>
  Sunday: holiday<br>
  <b>9 may (friday): <span style="color:red">holiday<span id="copyinfo"><br>
</p>
