<p><a href="#" style="color: #94C3EA" onClick="pokaz('answer1')">How do I apply?</a></p>
<div id="answer1" style="display: none">
  It's easy! First, search for a job. Then, follow the directions on your screen, or check out the How to Apply page. 
</div> 

<p><a href="#" style="color: #94C3EA" onClick="pokaz('answer2')">What if I don't have a formal résumé to enter into the form?</a></p>
<div id="answer2" style="display: none">
  It's best to write one or have one done for you, but you can certainly apply without one. Where a résumé is requested, simply upload a brief description of your background, experience (with dates of employment), educational achievements, and skills. This information is necessary to evaluate candidates. Applications without this information cannot be considered. 
</div> 


<p><a href="#" style="color: #94C3EA" onClick="pokaz('answer3')">Why do I have to make a separate Careers profile--why can't I use my customer login?</a></p>
<div id="answer3" style="display: none">
 Amazon is one of the most trusted brands globally, and we value our Customers' trust. To make sure that our Customers and Candidates' sensitive information is protected, our Customer Service and Human Resources data are kept completely separate. 
</div> 

